In [6]:
import gdown
import pandas as pd 
from datasets import load_dataset

/home/suyash/miniconda3/envs/RAFT/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [12]:
file_url = 'https://drive.google.com/uc?id=1VlLcGWmDKAoK3aUthVXOFxzOdgzf-SNo'
destination = 'datasets/Testing1.csv'
#gdown.download(file_url, destination, quiet=False)
raw_df = pd.read_csv(destination)
raw_df['PID']  = raw_df.index.astype(str)

In [5]:
raw_df.head(1)

                                    contentEmbedding  ... PID
0  [-0.008306029,-0.010566313,-0.0044381265,-0.02...  ...   0

[1 rows x 17 columns]

In [13]:
#datadict
keys=raw_df["id"]
values=raw_df["content"]
data_dict={k:v for k,v in zip(keys,values)}

# EVAL_DATASET

In [7]:
eval_df=load_dataset("SoorajK1/questions_and_answers",split="validation")

In [8]:
eval_df=pd.DataFrame(eval_df)
len(eval_df)

2830

In [10]:
oracle_context_list=[]
for id in eval_df["content_row"]:
  oracle_context_list.append(data_dict[id])

In [11]:
len(oracle_context_list)

2830

In [12]:
eval_df["oracle_context"]=oracle_context_list

In [17]:
from dataset import generate_dataset

In [14]:
eval_df=generate_dataset(eval_df,"datasets/raft_validationp1.csv")

100%|██████████| 2830/2830 [00:00<00:00, 13704.07it/s]

Dataset generated and saved at datasets/raft_validationp1.csv

In [16]:
eval_df=pd.read_csv("datasets/raft_validationp1.csv",delimiter=",")

In [17]:
eval_df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'question', 'answer', 'content_row',
       'oracle_context', 'instructions', 'distractors'],
      dtype='object')

# test_dataset

In [7]:
test_df=load_dataset("SoorajK1/questions_and_answers",split="test")

In [9]:
test_df=pd.DataFrame(test_df)
len(test_df)

2830

In [14]:
oracle_context_list=[]
for id in test_df["content_row"]:
  oracle_context_list.append(data_dict[id])

In [15]:
test_df["oracle_context"]=oracle_context_list

In [23]:
test_df=generate_dataset(test_df,"datasets/testp1.csv")

  0%|          | 0/2830 [00:00<?, ?it/s]

100%|██████████| 2830/2830 [00:00<00:00, 16612.20it/s]

Dataset generated and saved at datasets/testp1.csv

In [26]:
test_df=pd.read_csv("datasets/testp1.csv",delimiter=",")

In [27]:
test_df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'question', 'answer', 'content_row',
       'oracle_context', 'instructions', 'distractors'],
      dtype='object')

In [21]:
test_df=test_df.drop(columns=['Unnamed: 0.2','Unnamed: 0.1'])

In [22]:
test_df.columns

Index(['Unnamed: 0', 'question', 'answer', 'content_row', 'oracle_context',
       'instructions', 'distractors'],
      dtype='object')

In [29]:
test_df.drop(columns=['Unnamed: 0.2'])

      Unnamed: 0.1  ...                                        distractors
0                0  ...  {'title': [['placeholder_title', 'placeholder_...
1                1  ...  {'title': [['placeholder_title', 'placeholder_...
2                2  ...  {'title': [['placeholder_title', 'placeholder_...
3                3  ...  {'title': [['placeholder_title', 'placeholder_...
4                4  ...  {'title': [['placeholder_title', 'placeholder_...
...            ...  ...                                                ...
2825          2825  ...  {'title': [['placeholder_title', 'placeholder_...
2826          2826  ...  {'title': [['placeholder_title', 'placeholder_...
2827          2827  ...  {'title': [['placeholder_title', 'placeholder_...
2828          2828  ...  {'title': [['placeholder_title', 'placeholder_...
2829          2829  ...  {'title': [['placeholder_title', 'placeholder_...

[2830 rows x 8 columns]

In [30]:
test_df.to_csv("datasets/test_dfp1.csv")

In [31]:
eval_df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'question', 'answer', 'content_row',
       'oracle_context', 'instructions', 'distractors'],
      dtype='object')

In [32]:
test_df.columns

Index(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0', 'question', 'answer',
       'content_row', 'oracle_context', 'instructions', 'distractors'],
      dtype='object')

In [33]:
test_df.drop(columns=['Unnamed: 0.2'])

      Unnamed: 0.1  ...                                        distractors
0                0  ...  {'title': [['placeholder_title', 'placeholder_...
1                1  ...  {'title': [['placeholder_title', 'placeholder_...
2                2  ...  {'title': [['placeholder_title', 'placeholder_...
3                3  ...  {'title': [['placeholder_title', 'placeholder_...
4                4  ...  {'title': [['placeholder_title', 'placeholder_...
...            ...  ...                                                ...
2825          2825  ...  {'title': [['placeholder_title', 'placeholder_...
2826          2826  ...  {'title': [['placeholder_title', 'placeholder_...
2827          2827  ...  {'title': [['placeholder_title', 'placeholder_...
2828          2828  ...  {'title': [['placeholder_title', 'placeholder_...
2829          2829  ...  {'title': [['placeholder_title', 'placeholder_...

[2830 rows x 8 columns]

In [34]:
test_df.columns

Index(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0', 'question', 'answer',
       'content_row', 'oracle_context', 'instructions', 'distractors'],
      dtype='object')